<div class="product-card" [ngClass]="{
    'product-card--layout--grid product-card--size--sm': layout === 'grid-sm',
    'product-card--layout--grid product-card--size--nl': layout === 'grid-nl',
    'product-card--layout--grid product-card--size--lg': layout === 'grid-lg',
    'product-card--layout--list':                        layout === 'list',
    'product-card--layout--horizontal':                  layout === 'horizontal'
}">
  <button class="product-card__quickview" type="button" appClick (click)="showQuickview()"
          [ngClass]="{'product-card__quickview--preload': showingQuickview}">
    <app-icon name="quickview-16" size="16"></app-icon>
    <span class="fake-svg-icon"></span>
  </button>

<!--  <div class="product-card__badges-list">-->
<!--    <div class="product-card__badge product-card__badge&#45;&#45;sale">Sale</div>-->
<!--    &lt;!&ndash;<div *ngIf="product.badges.includes('hot')" class="product-card__badge product-card__badge&#45;&#45;hot">Hot</div>-->
<!--    <div *ngIf="product.badges.includes('new')" class="product-card__badge product-card__badge&#45;&#45;new">New</div>&ndash;&gt;-->
<!--  </div>-->

  <div class="product-card__image product-image relative">
    <a appClick [routerLink]="['/products', product?.slug]" *ngIf="product.images?.length" class="product-image__body">
      <img class="product-image__img" [src]="host + product.images[1].path" alt="">
    </a>
  </div>
  <div class="product-card__info">
    <div class="product-card__name line-clamp-2" [title]="product.name">
      <a appClick [routerLink]="['/products', product?.slug]">{{ product.name }}</a>
    </div>

    <div class="product-card__rating">
      <app-rating [value]="5"></app-rating>
      <div class="product-card__rating-legend">{{ 5 }} {{ 'n.reviews'| translate }}</div>
    </div>

    <ul *ngIf="product.attributes.length" class="product-card__features-list">
      <li>
        <span>{{ 'manufacturer'| translate }}: </span>

        <span class="text-[#3366CCFF]">{{ product?.brand?.name }}</span>
      </li>
      <li>
        <span>{{ 'availability'| translate }}: </span>

        <span *ngIf="product.availability === 'in_stock'" class="text-success">{{ 'in.stock'| translate }}</span>
        <span *ngIf="product.availability === 'on_demand'" class="text-primary">{{ 'on.order'| translate }}</span>
        <span *ngIf="product.availability === 'out_of_stock'" class="text-danger">{{ 'out.of.stock'| translate }}</span>
      </li>
      <li *ngFor="let attribute of product?.attributes?.slice(0, 5)">
        {{ attribute.name }}: {{ attribute.value }}
      </li>
    </ul>
  </div>
  <div class="product-card__actions">
    <div class="product-card__availability">
      {{ 'availability'| translate }}:
      <span *ngIf="product.availability === 'in_stock'" class="text-success">{{ 'in.stock'| translate }}</span>
      <span *ngIf="product.availability === 'on_demand'" class="text-primary">{{ 'on.order'| translate }}</span>
      <span *ngIf="product.availability === 'out_of_stock'" class="text-danger">{{ 'out.of.stock'| translate }}</span>
    </div>
    <div class="product-card__prices">
      <ng-container *ngIf="product.currentPrice && product.oldPrice">
        <span class="product-card__new-price">{{ product.currentPrice| currencyFormat }}</span>
        <span class="product-card__old-price"> {{ product.oldPrice| currencyFormat }}</span>
      </ng-container>

      <ng-container *ngIf="product.currentPrice && !product.oldPrice">
        <span>{{ product.currentPrice| currencyFormat }}</span>
      </ng-container>

      <span *ngIf="!product.currentPrice && !product.oldPrice">
        {{ 'price.on.request'| translate }}
      </span>
    </div>
    <div class="product-card__buttons">
      <button class="btn btn-primary product-card__addtocart w-full flex items-center justify-center gap-3" type="button" appClick (click)="addToCart()"
              [ngClass]="{'btn-loading': addingToCart}">
        <app-icon name="cart-20" size="16"></app-icon>
        <span>{{ 'add.to.cart'| translate }}</span>
      </button>
      <button [title]="'add.to.cart'| translate" class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button" appClick
              (click)="addToCart()" [ngClass]="{'btn-loading': addingToCart}">
        <span class="line-clamp-1">{{ 'add.to.cart'| translate }}</span>
      </button>
    </div>
  </div>
</div>
