<div class="product-card" [ngClass]="{
    'product-card--layout--grid product-card--size--sm': layout === 'grid-sm',
    'product-card--layout--grid product-card--size--nl': layout === 'grid-nl',
    'product-card--layout--grid product-card--size--lg': layout === 'grid-lg',
    'product-card--layout--list':                        layout === 'list',
    'product-card--layout--horizontal':                  layout === 'horizontal'
}">
  <button class="product-card__quickview" type="button" appClick (click)="showQuickview()"
          [ngClass]="{'product-card__quickview--preload': showingQuickview}">
    <app-icon name="quickview-16" size="16"></app-icon>
    <span class="fake-svg-icon"></span>
  </button>

<!--  <div class="product-card__badges-list">-->
<!--    <div class="product-card__badge product-card__badge&#45;&#45;sale">Sale</div>-->
<!--    &lt;!&ndash;<div *ngIf="product.badges.includes('hot')" class="product-card__badge product-card__badge&#45;&#45;hot">Hot</div>-->
<!--    <div *ngIf="product.badges.includes('new')" class="product-card__badge product-card__badge&#45;&#45;new">New</div>&ndash;&gt;-->
<!--  </div>-->

  <div class="product-card__image product-image relative">
    <a appClick *ngIf="product.images?.length" class="product-image__body">
      <img class="product-image__img" [src]="host + product.images[1].path" alt="">
    </a>

    <div class="absolute top-2 left-2 w-24 aspect-[340/80] border border-dashed">
      <img class="w-full h-full" src="https://backend.dynamics-market.uz/uploads/1744828397461-226286787-ABB-(1).png" alt="">
    </div>
  </div>
  <div class="product-card__info">
    <div class="product-card__name">
      <a appClick>{{ product.name }}</a>
    </div>

    <ul *ngIf="featuredAttributes.length" class="product-card__features-list">
      <li *ngFor="let attribute of featuredAttributes">
        {{ attribute.name }}:
        <ng-container *ngFor="let value of attribute.values; let last = last">
          {{ value.name }}
          <ng-container *ngIf="!last">,</ng-container>
        </ng-container>
      </li>
    </ul>
  </div>
  <div class="product-card__actions">
    <div class="product-card__availability">
      Availability:
      <span class="text-success">In Stock</span>
    </div>
    <div class="product-card__prices">
      <ng-container *ngIf="product.oldPrice">
        <span class="product-card__new-price">{{ product.currentPrice| currencyFormat }}</span>{{ ' ' }}
        <span class="product-card__old-price">{{ product.oldPrice| currencyFormat }}</span>
      </ng-container>
      <ng-container *ngIf="!product.oldPrice">
        {{ product.currentPrice|currencyFormat }}
      </ng-container>
    </div>
    <div class="product-card__buttons">
      <button class="btn btn-primary product-card__addtocart w-full flex items-center justify-center gap-3" type="button" appClick (click)="addToCart()"
              [ngClass]="{'btn-loading': addingToCart}">
        <app-icon name="cart-20" size="16"></app-icon>
        <span>{{ 'add.to.cart'| translate }}</span>
      </button>
      <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button" appClick
              (click)="addToCart()" [ngClass]="{'btn-loading': addingToCart}">Add To Cart
      </button>
    </div>
  </div>
</div>
