<div class="card">
  <div class="card-header">
    <h3 class="text-lg">{{ 'edit.profile'| translate }}</h3>
  </div>
  <div class="card-divider"></div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-12 col-xl-6">
        <label for="profile-first-name">{{ 'firstname'| translate }}</label>
        <input type="text" class="form-control" id="profile-first-name" [placeholder]="'firstname'| translate">
      </div>
      <div class="form-group col-12 col-xl-6">
        <label for="profile-last-name">{{ 'lastname'| translate }}</label>
        <input type="text" class="form-control" id="profile-last-name" [placeholder]="'lastname'| translate">
      </div>
      <div class="form-group col-12 col-xl-6">
        <label for="profile-email">{{ 'email'| translate }}</label>
        <input type="email" class="form-control" id="profile-email" [placeholder]="'email'| translate">
      </div>
      <div class="form-group col-12 col-xl-6">
        <label for="profile-phone">{{ 'phone.number'| translate }}</label>
        <input type="text" class="form-control" id="profile-phone" [placeholder]="'phone.number'| translate">
      </div>

      <div class="form-group col-12 col-xl-6">
        <label for="profile-phone">{{ 'telegram'| translate }}</label>
        <input type="text" class="form-control" id="profile-telegram" [placeholder]="'telegram'| translate">
      </div>

      <div class="form-group col-12 col-xl-6">
        <label for="profile-phone">{{ 'gender'| translate }}</label>

        <select class="form-control" id="profile-gender" [attr.placeholder]="'gender'| translate">
          <option value="male">{{ 'male'| translate }}</option>
          <option value="female">{{ 'female'| translate }}</option>
        </select>
      </div>

      <div class="col-12 form-group d-flex justify-end mt-3 mb-0">
        <button class="btn btn-primary">{{ 'save'| translate }}</button>
      </div>
    </div>
  </div>
</div>
