<app-page-header [header]="'contacts'" [breadcrumbs]="[
    {label: 'homepage',       url: '/'},
    {label: 'contacts', url: ''}
]"></app-page-header>

<div class="block">
  <div class="container">
    <div class="card mb-0 contact-us">
      <div class="contact-us__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d620.4415985689333!2d69.335177731221!3d41.34735094768548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef487f592cfd3%3A0x90ad7ce56e7b0c0f!2sNavnihol%20ko&#39;chasi%203!5e0!3m2!1suz!2s!4v1737305062543!5m2!1suz!2s"
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="card-body">
        <div class="contact-us__container">
          <div class="row">
            <div class="col-12 col-lg-6 pb-4 pb-lg-0">
              <h4 class="contact-us__header card-title">{{ 'address'| translate }}</h4>

              <div class="contact-us__address">
                <p class="mb-2">
                  {{ 'office.address'| translate }}<br>
                  {{ 'email'| translate }}: <a href="mailto:dynamics.engineering@mail.ru">dynamics.engineering@mail.ru</a><br>
                  {{ 'phone.number'| translate }}: <a href="tel:+998700200600">(70) 020-06-00</a>
                </p>

                <p class="mb-2">
                  <strong>{{ 'work.time.label'| translate }}</strong><br>
                  {{ 'work.time'| translate }}
                </p>

                <p>

                  <strong>{{ 'comment'| translate }}</strong><br>
                  {{ 'contact.us.comment'| translate }}
                </p>
              </div>
            </div>

            <div class="col-12 col-lg-6">
              <h4 class="contact-us__header card-title">{{ 'leave.us.your.message'| translate }}</h4>

              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="form-name">{{ 'your.name'| translate }}</label>
                    <input type="text" id="form-name" class="form-control" [placeholder]="'your.name'| translate">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="form-email">{{ 'email'| translate }}</label>
                    <input type="email" id="form-email" class="form-control" [placeholder]="'email'| translate">
                  </div>
                </div>
                <div class="form-group">
                  <label for="form-message">{{ 'message'| translate }}</label>
                  <textarea id="form-message" class="form-control" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">{{ 'send.message'| translate }}</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
