<app-page-header [header]="'checkout'" [breadcrumbs]="[
    {label: 'homepage',          url: '/' },
    {label: 'cart', url: '/cart' },
    {label: 'checkout',      url: ''}
]"></app-page-header>

<form class="checkout block" [formGroup]="checkoutForm">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="card mb-lg-0">
          <div class="card-body">
            <h3 class="card-title">
              {{ 'order.details'| translate }}
            </h3>

            <div class="form-row">
              <label class="col-12" for="">{{ 'who.are.you'| translate }}</label>
              <div class="col-md-6 form-group">
                <div class="payment-methods__item">
                  <label class="payment-methods__item-header">
                    <span class="payment-methods__item-radio input-radio">
                        <span class="input-radio__body">
                            <input class="input-radio__input" name="checkout_payment_method"
                                   type="radio">
                            <span class="input-radio__circle"></span>
                        </span>
                    </span>
                    <span class="payment-methods__item-title font-normal">{{ 'legal.entity'| translate}}</span>
                  </label>
                </div>
              </div>

              <div class="col-md-6 form-group">
                <div class="payment-methods__item">
                  <label class="payment-methods__item-header">
                    <span class="payment-methods__item-radio input-radio">
                        <span class="input-radio__body">
                            <input class="input-radio__input" name="checkout_payment_method"
                                   type="radio">
                            <span class="input-radio__circle"></span>
                        </span>
                    </span>
                    <span class="payment-methods__item-title font-normal">{{ 'individual.person'| translate }}</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="checkout-first-name">{{ 'firstname'| translate }} *</label>
                <input type="text" class="form-control" id="checkout-first-name" [placeholder]="'firstname'| translate">
              </div>
              <div class="form-group col-md-6">
                <label for="checkout-last-name">{{ 'lastname'| translate }} *</label>
                <input type="text" class="form-control" id="checkout-last-name" [placeholder]="'lastname'| translate">
              </div>
            </div>

            <div class="form-group">
              <label for="checkout-company-name">{{ 'company.name'| translate }}</label>
              <input type="text" class="form-control" id="checkout-company-name" [placeholder]="'company.name'| translate">
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="checkout-email">{{ 'email'| translate }} *</label>
                <input type="email" class="form-control" id="checkout-email" [placeholder]="'email'| translate">
              </div>
              <div class="form-group col-md-6">
                <label for="checkout-phone">{{ 'phone.number'| translate }} *</label>
                <input type="text" class="form-control" id="checkout-phone" [placeholder]="'phone.number'| translate">
              </div>
            </div>

            <div class="form-group">
              <label for="checkout-comment">
                {{ 'additional.comment'| translate }}
                <span class="text-muted text-lowercase">({{ 'optional'| translate }})</span>
              </label>
              <textarea id="checkout-comment" class="form-control" rows="4"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
        <div class="card mb-0">
          <div class="card-body">
            <h3 class="card-title">{{ 'your.order'| translate }}</h3>

            <table class="checkout__totals">
              <thead class="checkout__totals-header">
              <tr>
                <th>{{ 'product'| translate }}</th>
                <th>{{ 'total'| translate }}</th>
              </tr>
              </thead>
              <tbody class="checkout__totals-products">
              <tr *ngFor="let item of items">
                <td>{{ item.product.name }} × {{ item.quantity }}</td>
                <td>{{ item.product.currentPrice * item.quantity|currencyFormat }}</td>
              </tr>
              </tbody>
            </table>

            <div class="checkout__agree form-group">
              <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input class="input-check__input" type="checkbox" id="checkout-terms">
                                            <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px"><use
                                              xlink:href="assets/images/sprite.svg#check-9x7"></use></svg>
                                        </span>
                                    </span>
                <label class="form-check-label" for="checkout-terms">
                  I have read and agree to the website <a target="_blank" [routerLink]="['/terms']">terms and
                  conditions</a>*
                </label>
              </div>
            </div>

            <button type="submit" class="btn btn-primary btn-xl btn-block">Place Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
