<div class="flex justify-center py-20" *ngIf="loading">
  <app-loader-spinner [size]="48"></app-loader-spinner>
</div>

<ng-container *ngIf="!loading">
  <app-page-header [header]="'cart'" [breadcrumbs]="[
    {label: 'homepage',          url: '/'},
    {label: 'cart', url: ''}
]"></app-page-header>

  <div class="block block-empty" *ngIf="!items.length">
    <div class="container">
      <div class="block-empty__body">
        <div class="block-empty__message">{{ 'your.shopping.cart.is.empty'| translate }}</div>
        <div class="block-empty__actions">
          <a [routerLink]="['/products']" class="btn btn-primary btn-sm">
            {{ 'continue'| translate }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="cart block" *ngIf="items.length">
    <div class="container">
      <table class="cart__table cart-table">
        <thead class="cart-table__head">
        <tr class="cart-table__row">
          <th class="cart-table__column cart-table__column--image">{{ 'image'| translate }}</th>
          <th class="cart-table__column cart-table__column--product">{{ 'product'| translate }}</th>
          <th class="cart-table__column cart-table__column--price">{{ 'price'| translate }}</th>
          <th class="cart-table__column cart-table__column--quantity">{{ 'quantity'| translate }}</th>
          <th class="cart-table__column cart-table__column--total">{{ 'total'| translate }}</th>
          <th class="cart-table__column cart-table__column--remove"></th>
        </tr>
        </thead>
        <tbody class="cart-table__body">
        <tr *ngFor="let item of items" class="cart-table__row">
          <td class="cart-table__column cart-table__column--image">
            <div class="product-image">
              <a class="product-image__body">
                <img *ngIf="item.product?.thumbs?.length; else placeholderImage" class="product-image__img" [src]="item.product.thumbs[0].path| imgUrl" alt="">

                <ng-template #placeholderImage>
                  <img class="product-image__img" [src]="'https://www.svgrepo.com/show/508699/landscape-placeholder.svg'" alt="">
                </ng-template>
              </a>
            </div>
          </td>
          <td class="cart-table__column cart-table__column--product">
            <a
              class="cart-table__product-name">{{ item.product.name }}</a>
            <div class="text-sm">
              <span>{{ 'manufacturer'| translate }}: </span>
              <span class="text-primary">{{ item?.product?.brand?.name }}</span>
            </div>
          </td>
          <td class="cart-table__column cart-table__column--price" [attr.data-title]="'price'| translate">
            <ng-container *ngIf="item?.product?.currentPrice && item?.product?.oldPrice">
              <span>{{ item?.product?.currentPrice| currencyFormat }}</span>
              <span> {{ item?.product?.oldPrice| currencyFormat }}</span>
            </ng-container>

            <ng-container *ngIf="item?.product?.currentPrice && !item?.product?.oldPrice">
              <span>{{ item?.product?.currentPrice| currencyFormat }}</span>
            </ng-container>

            <span *ngIf="!item?.product?.currentPrice && !item?.product?.oldPrice">
              {{ 'on.request'| translate }}
            </span>
          </td>
          <td class="cart-table__column cart-table__column--quantity" [attr.data-title]="'quantity'| translate">
            <app-input-number
              [(ngModel)]="item.quantity"
              [min]="1"
              [disabled]="!!item?.updating"
              [readonly]="true"
              (ngModelChange)="updateCount(item)"
            ></app-input-number>
          </td>
          <td class="cart-table__column cart-table__column--total"
              [attr.data-title]="'total'| translate">
            <ng-container *ngIf="item?.product?.currentPrice">
              {{ (item.product.currentPrice * item.quantity)|currencyFormat }}
            </ng-container>

            <ng-container *ngIf="!item?.product?.currentPrice">
              -
            </ng-container>
          </td>
          <td class="cart-table__column cart-table__column--remove">
            <button type="button" class="btn btn-light btn-sm btn-svg-icon" (click)="remove(item)"
                    [ngClass]="{'btn-loading': item?.removing }">
              <app-icon name="cross-12" size="12"></app-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="flex justify-between pt-5">
        <app-pagination
          [(ngModel)]="params.page"
          [siblings]="2"
          [total]="params.pages"
          (pageChange)="getCartList()"
        ></app-pagination>

        <a class="btn btn-primary" routerLink="./checkout">
          {{ 'checkout'| translate }}
        </a>
      </div>
    </div>
  </div>
</ng-container>
