<div class="card">
  <div class="flex justify-center py-20" *ngIf="loading">
    <app-loader-spinner [size]="48"></app-loader-spinner>
  </div>

  <ng-container *ngIf="orderDetails">
    <div class="order-header">
      <div class="order-header__actions">
        <a routerLink="/account/orders" class="btn btn-xs btn-secondary">
          {{ 'back.to.list'| translate }}
        </a>
      </div>
      <h5 class="order-header__title">{{ 'order'| translate }} #{{ orderDetails?.orderCode }}</h5>
      <div class="order-header__subtitle">
        {{ 'order.created.at'| translate }}: <strong>{{ orderDetails?.createdAt| date: 'dd.MM.YYYY HH:mm' }}</strong> |
        {{ 'status'| translate }}: <strong>{{ ('order.status.' + orderDetails?.status)| translate }}</strong>
      </div>
    </div>
    <div class="card-divider"></div>
    <div class="card-table">
      <div class="table-responsive-sm">
        <table>
          <thead>
          <tr>
            <th>{{ 'product'| translate }}</th>
            <th>{{ 'total'| translate }}</th>
          </tr>
          </thead>
          <tbody class="card-table__body card-table__body--merge-rows">
          <tr *ngFor="let item of orderDetails?.items">
            <td>{{ item?.name }} × {{ item.quantity }}</td>
            <td>
              <ng-container *ngIf="item?.price">
                {{ (item.price * item.quantity)|currencyFormat }}
              </ng-container>

              <ng-container *ngIf="!item?.price">
                -
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="orderDetails">
  <div class="row mt-3 no-gutters mx-n2">
    <div class="col-sm-6 col-12 px-2">
      <div class="card address-card address-card--featured">
        <div class="address-card__body">
          <div class="address-card__badge address-card__badge--muted">{{ 'order.details'| translate }}</div>
          <div class="address-card__name">{{ orderDetails?.lastName + ' ' + orderDetails?.firstName }}
          </div>
          <div *ngIf="orderDetails?.companyName" class="address-card__row">
            <div class="address-card__row-title">{{ 'company.name'| translate }}</div>
            <div class="address-card__row-content">{{ orderDetails?.companyName }}</div>
          </div>
          <div class="address-card__row">
            <div class="address-card__row-title">{{ 'phone.number'| translate }}</div>
            <div class="address-card__row-content">{{ orderDetails?.phone }}</div>
          </div>
          <div class="address-card__row">
            <div class="address-card__row-title">{{ 'email'| translate }}</div>
            <div class="address-card__row-content">{{ orderDetails?.email }}</div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-sm-6 col-12 px-2 mt-sm-0 mt-3">
      <div class="card address-card address-card&#45;&#45;featured">
        <div class="address-card__body">
          <div class="address-card__badge address-card__badge&#45;&#45;muted">Billing Address</div>
          <div class="address-card__name">{{ order.billingAddress.firstName + ' ' + order.billingAddress.lastName }}</div>
          <div class="address-card__row">
            {{ order.billingAddress.country }}<br>
            {{ order.billingAddress.postcode }}, {{ order.billingAddress.city }}<br>
            {{ order.billingAddress.address }}
          </div>
          <div class="address-card__row">
            <div class="address-card__row-title">Phone Number</div>
            <div class="address-card__row-content">{{ order.billingAddress.phone }}</div>
          </div>
          <div class="address-card__row">
            <div class="address-card__row-title">Email Address</div>
            <div class="address-card__row-content">{{ order.billingAddress.email }}</div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</ng-container>
