<div class="block block--highlighted block-categories block-categories--layout--classic">
  <div class="container">
    <app-block-header
      [header]="'popular.categories'"
    ></app-block-header>

    <div *ngIf="loading" class="py-20">
      <app-loader-spinner
        [size]="48"
      ></app-loader-spinner>
    </div>

    <div *ngIf="categories?.length && !loading" class="block-categories__list">
      <div *ngFor="let category of categories"
           class="block-categories__item category-card category-card--layout--classic">
        <div class="category-card__body">
          <div class="category-card__image shrink-0">
            <a
              [routerLink]="['/products']"
              [queryParams]="{
                category: category.slug
              }"
            >
              <img [src]="category?.image?.path| imgUrl" alt="">
            </a>
          </div>
          <div class="category-card__content">
            <div class="category-card__name line-clamp-2" [title]="category.name">
              <a
                [routerLink]="['/products']"
                [queryParams]="{
                  category: category.slug
                }"
              >{{ category.name }}</a>
            </div>
            <ul class="category-card__links">
              <li class="line-clamp-1" [title]="childCategory.name" *ngFor="let childCategory of category.children?.slice(0, 3)">
                <a
                  [routerLink]="['/products']"
                  [queryParams]="{
                    category: childCategory.slug
                  }"
                >{{ childCategory.name }}</a>
              </li>
            </ul>
            <div class="category-card__all">
              <a
                [routerLink]="['/products']"
                [queryParams]="{
                  category: category.slug
                }"
              >
                {{ 'show.all'| translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
