<!-- .block-products-carousel -->
<div
  class="block block-products-carousel"
  [ngClass]="{
        'block-products-carousel--loading': loading,
        'block-products-carousel--has-items': !!products?.length
    }"
  [attr.data-layout]="layout"
>
  <div [ngClass]="{'container': !withSidebar}" *ngIf="showCarousel">
    <app-block-header
      [header]="'popular.products'"
      [groups]="popularBrands"
      [arrows]="true"
      (next)="carousel.next()"
      (prev)="carousel.prev()"
      (groupChange)="getProducts($event.slug)"
    ></app-block-header>

    <div class="block-products-carousel__slider" #container>
      <div class="block-products-carousel__preloader"></div>

      <owl-carousel-o
        [options]="carouselOptions"
        appOwlPreventClick #carousel
      >
        <ng-template *ngFor="let product of products" carouselSlide>
          <div class="block-products-carousel__cell">
            <app-product-card [product]="product"></app-product-card>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
<!-- .block-products-carousel / end -->
