<div class="footer-newsletter">
  <h5 class="footer-newsletter__title">{{ 'news'| translate }}</h5>
  <div class="footer-newsletter__text">
    {{ 'subscribe.to.stay.aware.of.the.latest.news.in.us'| translate }}
  </div>

  <form action="" class="footer-newsletter__form">
    <label class="sr-only" for="footer-newsletter-address">{{ 'email'| translate }}</label>
    <input type="text" class="footer-newsletter__form-input form-control" id="footer-newsletter-address"
           [placeholder]="'email'| translate">

    <button class="footer-newsletter__form-button btn btn-primary">{{ 'subscribe'| translate }}</button>
  </form>

  <div class="footer-newsletter__text footer-newsletter__text--social">
    {{ 'follow.us.on.social.networks'| translate }}
  </div>

  <app-social-links class="footer-newsletter__social-links" shape="circle"></app-social-links>
</div>
