<!-- .block-features -->
<div class="block block-features block-features--layout--{{ layout }}">
  <div class="container">
    <div class="block-features__list">
      <div class="block-features__item">
        <div class="block-features__icon">
          <app-icon name="fi-free-delivery-48" size="48"></app-icon>
        </div>
        <div class="block-features__content">
          <div class="block-features__title line-clamp-1" [title]="'free.shipping'| translate">{{ 'free.shipping'| translate }}</div>
          <div class="block-features__subtitle" [title]="'for.all.types.of.orders'| translate">{{ 'for.all.types.of.orders'| translate }}</div>
        </div>
      </div>
      <div class="block-features__divider"></div>
      <div class="block-features__item">
        <div class="block-features__icon">
          <app-icon name="fi-24-hours-48" size="48"></app-icon>
        </div>
        <div class="block-features__content">
          <div class="block-features__title line-clamp-1" [title]="'24/7.support'| translate">{{ '24/7.support'| translate }}</div>
          <div class="block-features__subtitle">{{ 'call.anytime'| translate }}</div>
        </div>
      </div>
      <div class="block-features__divider"></div>
      <div class="block-features__item">
        <div class="block-features__icon">
          <app-icon name="fi-payment-security-48" size="48"></app-icon>
        </div>
        <div class="block-features__content">
          <div class="block-features__title line-clamp-1" [title]="'100%.security'| translate">{{ '100%.security'| translate }}</div>
          <div class="block-features__subtitle">{{ 'reliable.and.secure.payment'| translate }}</div>
        </div>
      </div>
      <div class="block-features__divider"></div>
      <div class="block-features__item">
        <div class="block-features__icon">
          <app-icon name="fi-tag-48" size="48"></app-icon>
        </div>
        <div class="block-features__content">
          <div class="block-features__title line-clamp-1" [title]="'hot.offers'| translate">{{ 'hot.offers'| translate }}</div>
          <div class="block-features__subtitle">{{ 'regular.discounts'| translate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .block-features / end -->
