<app-block-slideshow [withDepartments]="true"></app-block-slideshow>

<app-block-features></app-block-features>

<app-block-products-carousel
  header="popular.products"
  layout="grid-4"
  [loading]="featuredProducts.loading"
  [products]="featuredProducts.products"
  [groups]="featuredProducts.groups"
  (groupChange)="groupChange(featuredProducts, $event)"
></app-block-products-carousel>

<app-block-banner></app-block-banner>

<app-block-brands [brands]="(brands$|async) || []"></app-block-brands>

<app-block-categories header="popular.categories" layout="classic"
                      [categories]="(popularCategories$|async) || []"></app-block-categories>

<app-block-posts header="latest.news" layout="list-sm" [posts]="posts"></app-block-posts>

<app-block-product-columns>
  <app-block-product-columns-item header="top.products"
                                  [products]="(columnTopRated$|async) || []"></app-block-product-columns-item>
  <app-block-product-columns-item header="special.offers"
                                  [products]="(columnSpecialOffers$|async) || []"></app-block-product-columns-item>
  <app-block-product-columns-item header="bestsellers"
                                  [products]="(columnBestsellers$|async) || []"></app-block-product-columns-item>
</app-block-product-columns>
