<div class="post-card" [ngClass]="{
    'post-card--layout--grid': ['grid-nl', 'grid-lg'].includes(layout || ''),
    'post-card--layout--list': ['list-nl', 'list-sm'].includes(layout || ''),

    'post-card--size--nl': ['grid-nl', 'list-nl'].includes(layout || ''),
    'post-card--size--lg': layout === 'grid-lg',
    'post-card--size--sm': layout === 'list-sm'
}">
  <div class="post-card__image aspect-[350/235] bg-gray-50">
    <a appClick [routerLink]="['/news', post?.slug]">
      <img [src]="post.imageUrl" alt="">
    </a>
  </div>
  <div class="post-card__info">
    <div class="post-card__name">
      <a appClick [routerLink]="['/news', post?.slug]">{{ post.title }}</a>
    </div>
    <div class="post-card__date">{{ post.createdAt| customDate }}</div>
    <div class="post-card__content">
      {{ post?.shortDesc }}
    </div>
  </div>
</div>
