<!-- .topbar -->
<div class="site-header__topbar topbar">
  <div class="topbar__container container">
    <div class="topbar__row">
      <div class="topbar__item topbar__item--link">
        <a class="topbar-link" routerLink="/site/contact-us">{{ 'contacts'| translate }}</a>
      </div>
      <div class="topbar__spring"></div>
      <div class="topbar__item">
        <div class="topbar-dropdown" appDropdown="topbar-dropdown--opened" #currencyDropdown="appDropdown">
          <button class="topbar-dropdown__btn" type="button" (click)="currencyDropdown.toggle()">
            {{ 'currency'| translate }}: <span class="topbar__item-value">{{ currencyService.options.code }}</span>
            <app-icon name="arrow-rounded-down-7x5" size="7x5"></app-icon>
          </button>

          <div class="topbar-dropdown__body">
            <div class="menu menu--layout--topbar">
              <ul class="menu__list">
                <li
                  class="menu__item"
                  *ngFor="let currency of currencies"
                  (mouseover)="menuItem.classList.add('menu__item--hover')"
                  (mouseleave)="menuItem.classList.remove('menu__item--hover')"
                  #menuItem
                >
                  <button class="menu__item-link text-lowercase" type="button"
                          (click)="setCurrency(currency); currencyDropdown.close();">
                    {{ currency.symbol }} {{ currency.name| translate }}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="topbar__item">
        <div class="topbar-dropdown" appDropdown="topbar-dropdown--opened" #languageDropdown="appDropdown">
          <button class="topbar-dropdown__btn" type="button" (click)="languageDropdown.toggle()">
            {{ 'language'| translate }}: <span class="topbar__item-value">{{ currentLangShort }}</span>
            <app-icon name="arrow-rounded-down-7x5" size="7x5"></app-icon>
          </button>

          <div class="topbar-dropdown__body">
            <div class="menu menu--layout--topbar menu--with-icons">
              <ul class="menu__list">
                <li
                  class="menu__item"
                  *ngFor="let language of languages"
                  (mouseover)="menuItem.classList.add('menu__item--hover')"
                  (mouseleave)="menuItem.classList.remove('menu__item--hover')"
                  #menuItem
                  (click)="setLanguage(language.short); languageDropdown.close()"
                >
                  <button class="menu__item-link" type="button">
                    <span class="menu__item-icon">
                      <app-icon [name]="language.short" size="24"></app-icon>
                    </span>
                    <span>{{ language.name }}</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .topbar / end -->
