<app-page-header [breadcrumbs]="[
    {label: 'homepage',                 url: '/'},
    {label: 'terms.of.use', url: ''}
]"></app-page-header>

<div class="block">
  <div class="container">
    <div class="document">
      <div class="document__header">
        <h2 class="document__title">{{ 'terms.of.use'| translate }}</h2>
        <div class="document__subtitle">
          {{ 'terms.of.use.last.updated'| translate: {date: '08.07.2025'} }}
        </div>
      </div>
      <div class="document__content typography"  [innerHTML]="terms[currentLang]">
      </div>
    </div>
  </div>
</div>
