<div class="widget-filters widget" [ngClass]="{
    'widget-filters--offcanvas--always': offcanvas === 'always',
    'widget-filters--offcanvas--mobile': offcanvas === 'mobile'
}" appCollapse>
  <h4 class="widget-filters__title widget__title">{{ 'filter'| translate }}</h4>

  <div class="widget-filters__list">
    <div class="widget-filters__item">
      <div class="filter filter--opened" appCollapseItem="filter--opened" #collapse="appCollapseItem">
        <button type="button" class="filter__title" (click)="collapse.toggle()">
          {{ 'categories'| translate }}
          <app-icon class="filter__arrow" name="arrow-rounded-down-12x7" size="12x7"></app-icon>
        </button>
        <div class="filter__body" appCollapseContent>
          <div class="filter__container">
            <div class="filter-categories filter-categories--root ">
              <ng-container
                *ngTemplateOutlet="categoriesList; context: { $implicit: { categories: categories.main, level: 'main'} }"
              ></ng-container>

              <ng-container
                *ngTemplateOutlet="categoriesList; context: { $implicit: { categories: categories.middle, level: 'middle'} }"
              ></ng-container>

              <ng-container
                *ngTemplateOutlet="categoriesList; context: { $implicit: { categories: categories.sub, level: 'sub'} }"
              ></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-filters__actions d-flex">
    <button class="btn btn-secondary btn-sm" (click)="reset()">{{ 'reset.filter'| translate }}</button>
  </div>
</div>

<ng-template #categoriesList let-data>
  <ul
    *ngIf="data.categories.length"
    class="filter-categories__list"
    [ngClass]="{
      'pl-2': data.level === 'middle',
      'pl-4': data.level === 'sub'
    }"
  >
    <ng-container *ngFor="let category of data.categories">
      <li
        class="filter-categories__item"
        *ngIf="!category.hidden"
        [ngClass]="{
          'filter-categories__item--parent': ['main', 'middle'].includes(data.level),
          'filter-categories__item--current': category.slug === filter.category
        }"
      >
        <app-icon
          *ngIf="['main', 'middle'].includes(data.level)"
          class="filter-categories__arrow"
          [name]="category.showChildren ? 'arrow-rounded-down-9x6' : 'arrow-rounded-right-6x9'"
          [size]="category.showChildren ? '9x6' : '6x9'"
        ></app-icon>
        <a
          class="cursor-pointer"
          (click)="selectCategory(category, data.level)"
        >{{ category.name }}</a>
      </li>
    </ng-container>
  </ul>
</ng-template>


<!--<div *ngIf="filter.type === 'range' && isPlatformBrowser" class="filter-price">
  <div class="filter-price__slider">
    <div class="ngx-slider-custom">
      <ngx-slider
        [formControl]="getRangeControl(filter)"
        [options]="{
                                            animate: false,
                                            rightToLeft: rightToLeft,
                                            floor: filter.min,
                                            ceil: filter.max,
                                            step: 1
                                        }"
        #slider
      ></ngx-slider>
    </div>
  </div>
  <div class="filter-price__title">
                <span
                  class="filter-price__min-value">{{ (rightToLeft ? slider.highValue : slider.value)|currencyFormat }}</span>
    –
    <span
      class="filter-price__max-value">{{ (rightToLeft ? slider.value : slider.highValue)|currencyFormat }}</span>
  </div>
</div>

<div *ngIf="filter.type === 'check'" class="filter-list" [formGroupName]="filter.slug">
  <div class="filter-list__list">
    <label
      *ngFor="let item of filter.items; trackBy: trackBySlug"
      class="filter-list__item"
      [ngClass]="{'filter-list__item&#45;&#45;disabled': isItemDisabled(filter, item)}"
    >
                                    <span class="filter-list__input input-check">
                                        <span class="input-check__body">
                                            <input
                                              class="input-check__input"
                                              type="checkbox"
                                              [value]="item.slug"
                                              [name]="'filter_' + filter.slug"
                                              [formControlName]="item.slug"
                                            >
                                            <span class="input-check__box"></span>
                                            <app-icon class="input-check__icon" name="check-9x7" size="9x7"></app-icon>
                                        </span>
                                    </span>

      <span class="filter-list__title">{{ item.name }}</span>
    </label>
  </div>
</div>

<div *ngIf="filter.type === 'radio'" class="filter-list">
  <div class="filter-list__list">
    <label
      *ngFor="let item of filter.items; trackBy: trackBySlug"
      class="filter-list__item"
      [ngClass]="{'filter-list__item&#45;&#45;disabled': isItemDisabled(filter, item)}"
    >
                                    <span class="filter-list__input input-radio">
                                        <span class="input-radio__body">
                                            <input
                                              class="input-radio__input"
                                              type="radio"
                                              [attr.disabled]="isItemDisabled(filter, item) ? true : null"
                                              [value]="item.slug"
                                              [formControlName]="filter.slug"
                                            >
                                            <span class="input-radio__circle"></span>
                                        </span>
                                    </span>

      <span class="filter-list__title">{{ item.name }}</span>
    </label>
  </div>
</div>-->
