<div class="site-footer__widget footer-contacts">
  <h5 class="footer-contacts__title">{{ 'contacts'| translate }}</h5>

  <div class="footer-contacts__text">
    {{ 'contact.us.comment'| translate }}
  </div>

  <ul class="footer-contacts__contacts">
    <li>
      <i class="footer-contacts__icon fas fa-globe-americas"></i>
      <a href="https://maps.app.goo.gl/Y5xUUoHzu3C9ByJh6" target="_blank">
        <span>{{ 'office.address'| translate }}</span>
      </a>
    </li>
    <li>
      <i class="footer-contacts__icon far fa-envelope"></i>
      <a href="mailto:dynamics.engineering@mail.ru">
        dynamics.engineering@mail.ru
      </a>
    </li>
    <li>
      <i class="footer-contacts__icon fas fa-mobile-alt"></i>
      <a href="tel:+998910128811">+998 (91) 012-88-11</a>
    </li>
    <li>
      <i class="footer-contacts__icon far fa-clock"></i>
      {{ 'work.time'| translate }}
    </li>
  </ul>
</div>
