<!-- .megamenu -->
<div class="megamenu">
  <div class="megamenu__body">
    <div class="row">
      <div *ngFor="let column of menu.columns" class="col-{{ column.size }}">
        <ul class="megamenu__links megamenu__links--level--0">
          <li *ngFor="let item of column.items" class="megamenu__item"
              [ngClass]="{'megamenu__item--with-submenu': item.items}"
              [title]="item?.label"
          >

            <a [routerLink]="['/', 'products']"
               [queryParams]="{
                  category: item.url
               }"
               [queryParamsHandling]="'merge'"
               (click)="itemClick.emit(item)">{{ item.label }}</a>

            <ul *ngIf="item.items" class="megamenu__links megamenu__links--level--1">
              <li *ngFor="let subItem of item.items" class="megamenu__item">

                <a
                  [routerLink]="['/', 'products']"
                  [queryParams]="{
                    category: subItem.url
                  }"
                  [queryParamsHandling]="'merge'"
                  (click)="itemClick.emit(subItem)">{{ subItem.label }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- .megamenu / end -->
