<app-page-header [header]="pageHeader" [breadcrumbs]="breadcrumbs"></app-page-header>

<ng-container *ngIf="columns === 3">
  <div class="container">
    <div class="shop-layout shop-layout--sidebar--{{ sidebarPosition }}">
      <div class="shop-layout__sidebar" *ngIf="sidebarPosition === 'start'">
        <app-products-sidebar offcanvas="mobile"></app-products-sidebar>
      </div>
      <div class="shop-layout__content">
        <div class="block">
          <app-products-view [layout]="viewMode" grid="grid-3-sidebar" offcanvas="mobile"></app-products-view>
        </div>
      </div>
      <div class="shop-layout__sidebar" *ngIf="sidebarPosition === 'end'">
        <app-products-sidebar offcanvas="mobile"></app-products-sidebar>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="columns > 3">
  <div class="container">
    <div class="block">
      <app-products-view [layout]="viewMode" [grid]="getProductsViewLayout()" offcanvas="always"></app-products-view>
    </div>
    <app-products-sidebar offcanvas="always"></app-products-sidebar>
  </div>
</ng-container>
