<div class="block order-success">
  <div class="container">
    <div class="order-success__body">
      <div class="order-success__header">
        <app-icon class="order-success__icon" name="check-100" size="100"></app-icon>
        <h1 class="order-success__title">{{ 'thank.you'| translate }}</h1>
        <div class="order-success__subtitle">
          {{ 'order.created.successfully.with.contact'| translate }}
        </div>
        <div class="order-success__actions">
          <a routerLink="/" class="btn btn-xs btn-secondary">{{ 'go.to.homepage'| translate }}</a>
        </div>
      </div>

      <div class="order-success__meta">
        <ul class="order-success__meta-list">
          <li class="order-success__meta-item">
            <span class="order-success__meta-title">{{ 'order.number'| translate }}:</span>
            <span class="order-success__meta-value">#{{ orderDetails?.orderCode }}</span>
          </li>
          <li class="order-success__meta-item">
            <span class="order-success__meta-title">{{ 'order.created.at'| translate }}:</span>
            <span class="order-success__meta-value">{{ orderDetails?.createdAt| date: 'dd.MM.YYYY HH:mm' }}</span>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="order-list">
          <table>
            <thead class="order-list__header">
            <tr>
              <th class="order-list__column-label" colspan="2">{{ 'product'| translate }}</th>
              <th class="order-list__column-quantity">{{ 'quantity'| translate }}</th>
              <th class="order-list__column-total">{{ 'total'| translate }}</th>
            </tr>
            </thead>
            <tbody class="order-list__products" *ngIf="orderDetails">
            <tr *ngFor="let item of orderDetails.items">
              <td class="order-list__column-image">
                <div class="product-image">
                  <a [routerLink]="" class="product-image__body">
                    <img *ngIf="item.thumbs?.length; else placeholderImage" class="product-image__img" [src]="item.thumbs[0].path| imgUrl" alt="">

                    <ng-template #placeholderImage>
                      <img class="product-image__img" [src]="'https://www.svgrepo.com/show/508699/landscape-placeholder.svg'" alt="">
                    </ng-template>
                  </a>
                </div>
              </td>
              <td class="order-list__column-product">
                <a>{{ item?.name }}</a>
              </td>
              <td class="order-list__column-quantity" [attr.data-title]="('quantity'| translate) + ':'">{{ item.quantity }}</td>
              <td class="order-list__column-total">
                <ng-container *ngIf="item?.price">
                  {{ (item.price * item.quantity)|currencyFormat }}
                </ng-container>

                <ng-container *ngIf="!item?.price">
                  -
                </ng-container>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

<!--      <div class="row mt-3 no-gutters mx-n2">-->
<!--        <div class="col-sm-6 col-12 px-2">-->
<!--          <div class="card address-card">-->
<!--            <div class="address-card__body">-->
<!--              <div class="address-card__badge address-card__badge&#45;&#45;muted">Shipping Address</div>-->
<!--              <div-->
<!--                class="address-card__name">{{ order.shippingAddress.firstName + ' ' + order.shippingAddress.lastName }}-->
<!--              </div>-->
<!--              <div class="address-card__row">-->
<!--                {{ order.shippingAddress.country }}<br>-->
<!--                {{ order.shippingAddress.postcode }}, {{ order.shippingAddress.city }}<br>-->
<!--                {{ order.shippingAddress.address }}-->
<!--              </div>-->
<!--              <div class="address-card__row">-->
<!--                <div class="address-card__row-title">Phone Number</div>-->
<!--                <div class="address-card__row-content">{{ order.shippingAddress.phone }}</div>-->
<!--              </div>-->
<!--              <div class="address-card__row">-->
<!--                <div class="address-card__row-title">Email Address</div>-->
<!--                <div class="address-card__row-content">{{ order.shippingAddress.email }}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-12 px-2 mt-sm-0 mt-3">-->
<!--          <div class="card address-card">-->
<!--            <div class="address-card__body">-->
<!--              <div class="address-card__badge address-card__badge&#45;&#45;muted">Billing Address</div>-->
<!--              <div-->
<!--                class="address-card__name">{{ order.billingAddress.firstName + ' ' + order.billingAddress.lastName }}-->
<!--              </div>-->
<!--              <div class="address-card__row">-->
<!--                {{ order.billingAddress.country }}<br>-->
<!--                {{ order.billingAddress.postcode }}, {{ order.billingAddress.city }}<br>-->
<!--                {{ order.billingAddress.address }}-->
<!--              </div>-->
<!--              <div class="address-card__row">-->
<!--                <div class="address-card__row-title">Phone Number</div>-->
<!--                <div class="address-card__row-content">{{ order.billingAddress.phone }}</div>-->
<!--              </div>-->
<!--              <div class="address-card__row">-->
<!--                <div class="address-card__row-title">Email Address</div>-->
<!--                <div class="address-card__row-content">{{ order.billingAddress.email }}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
