<div class="product product--layout--{{ layout }}" *ngIf="product">
  <div class="product__content">

    <div class="product__gallery">
      <app-product-gallery
        [productLayout]="layout"
        [images]="product.images"
      ></app-product-gallery>
    </div>

    <div class="product__info">
      <h1 class="product__name">{{ product.name }}</h1>
      <div class="product__rating">
        <div class="product__rating-stars">
          <app-rating [value]="5"></app-rating>
        </div>
        <div class="product__rating-legend">
          <a href="" appClick>{{ 5 }} {{ 'n.reviews'| translate }}</a><span>/</span><a href="" appClick>{{ 'write.review'| translate }}</a>
        </div>
      </div>
      <div class="product__description">
        {{ product.description| cutDescription: 50 }}
      </div>
      <ul class="product__features">
        <li>Speed: 750 RPM</li>
        <li>Power Source: Cordless-Electric</li>
        <li>Battery Cell Type: Lithium</li>
        <li>Voltage: 20 Volts</li>
        <li>Battery Capacity: 2 Ah</li>
      </ul>
      <ul class="product__meta">
        <li class="product__meta-availability">
          {{ 'availability'| translate }}:

          <span *ngIf="product.availability === 'in_stock'" class="text-success">{{ 'in.stock'| translate }}</span>
          <span *ngIf="product.availability === 'on_demand'" class="text-primary">{{ 'on.order'| translate }}</span>
          <span *ngIf="product.availability === 'out_of_stock'" class="text-danger">{{ 'out.of.stock'| translate }}</span>
        </li>
        <li>{{ 'manufacturer'| translate }}: <a class="text-primary" appClick>{{ product.brand?.name }}</a></li>
        <li>SKU: {{ product.sku }}</li>
      </ul>
    </div>
    <!-- .product__info / end -->
    <!-- .product__sidebar -->
    <div class="product__sidebar">
      <div class="product__availability">
        Availability: <span class="text-success">In Stock</span>
      </div>

      <div class="product__prices">
        <ng-container *ngIf="product.currentPrice && product.oldPrice">
          <span class="product-card__new-price">{{ product.currentPrice| currencyFormat }}</span>
          <span class="product-card__old-price"> {{ product.oldPrice| currencyFormat }}</span>
        </ng-container>

        <ng-container *ngIf="product.currentPrice && !product.oldPrice">
          <span>{{ product.currentPrice| currencyFormat }}</span>
        </ng-container>

        <span *ngIf="!product.currentPrice && !product.oldPrice">
        {{ 'price.on.request'| translate }}
      </span>
      </div>
      <!-- .product__options -->
      <form class="product__options">
        <div class="form-group product__option">
          <div class="product__actions">
            <div class="product__actions-item">
              <app-input-number
                class="product__quantity"
                size="lg"
                [min]="1"
                [max]="999"
                [formControl]="quantity"
              ></app-input-number>
            </div>
            <div class="product__actions-item product__actions-item--addtocart">
              <button type="button" class="btn btn-primary btn-lg inline-flex items-center gap-4"
                      [ngClass]="{'btn-loading': addingToCart}"
                      appClick (click)="addToCart()">
                <app-icon name="cart-20" size="24"></app-icon>
                {{ 'add.to.cart'| translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
      <!-- .product__options / end -->
    </div>
  </div>
</div>
