<div class="block post post--layout--{{ layout }}">
  <div class="post__header post-header post-header--layout--{{ layout }}">
    <div class="post-header__categories">
      <a>{{ 'latest.news'| translate }}</a>
    </div>
    <h1 class="post-header__title">{{ news?.title }}</h1>
    <div class="post-header__meta">
      <div class="post-header__meta-item"><a>{{ 'publication.date'| translate }}</a></div>
      <div class="post-header__meta-item">
        <a>{{ news?.createdAt!| customDate }}</a>
      </div>
    </div>
  </div>

  <div class="post__featured">
    <img class="w-full" [src]="news?.imageUrl" alt="">
  </div>

  <div
    class="post__content typography"
    [ngClass]="{'typography--expanded': layout === 'full'}"
    [innerHTML]="news?.content!| cleanContent"
  >
  </div>
</div>
