<app-page-header [header]="'the.latest.news'" [breadcrumbs]="[
    {label: 'homepage',        url: '../../'},
    {label: 'news',        url: '../'}
]"></app-page-header>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="block">
        <div class="posts-view">
          <div class="posts-view__list posts-list posts-list--layout--{{ layout }}">
            <div class="posts-list__body">
              <div *ngFor="let post of posts" class="posts-list__item">
                <app-post-card [post]="post" [layout]="getPostCardLayout()"></app-post-card>
              </div>
            </div>
          </div>
          <div class="posts-view__pagination">
            <app-pagination [current]="1" [siblings]="2" [total]="10"></app-pagination>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="sidebarPosition === 'end'" class="col-12 col-lg-4">
      <app-sidebar position="end"></app-sidebar>
    </div>
  </div>
</div>
