<div class="products-view" [ngClass]="{'products-view--loading': this.productsService.loading$| async}"
     [formGroup]="filterForm">
  <div class="products-view__loader"></div>

  <div *ngIf="products.data?.length" class="products-view__content">
    <div class="products-view__options">
      <div class="view-options" [ngClass]="{
                'view-options--offcanvas--always': offcanvas === 'always',
                'view-options--offcanvas--mobile': offcanvas === 'mobile'
            }">
        <div class="view-options__filters-button">
          <button type="button" class="filters-button" (click)="sidebar.open()">
            <app-icon class="filters-button__icon" name="filters-16" size="16"></app-icon>
            <span class="filters-button__title">{{ 'filter'| translate }}</span>
            <span class="filters-button__counter" *ngIf="filtersCount > 0">{{ filtersCount }}</span>
          </button>
        </div>
        <div class="view-options__layout">
          <div class="layout-switcher">
            <div class="layout-switcher__list">
              <button title="Grid With Features" type="button" class="layout-switcher__button"
                      [ngClass]="{'layout-switcher__button--active': layout === 'grid-with-features'}"
                      (click)="setLayout('grid-with-features')">

                <app-icon name="layout-grid-with-details-16x16" size="16"></app-icon>
              </button>
              <button title="List" type="button" class="layout-switcher__button"
                      [ngClass]="{'layout-switcher__button--active': layout === 'list'}" (click)="setLayout('list')">

                <app-icon name="layout-list-16x16" size="16"></app-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="view-options__legend">
          {{
            'pagination.result.text'| translate: {
              interval: 1 + '-' + 12,
              total: 7
            }
          }}
        </div>
        <div class="view-options__divider"></div>
        <div class="view-options__control">
          <label for="view-options-sort">{{ 'sort.by'| translate }}</label>
          <div>
            <select
              (change)="filter()"
              class="form-control form-control-sm" id="view-options-sort" formControlName="sort">
              <option value="high-rating">{{ 'high.rating'| translate }}</option>
              <option value="cheaper">{{ 'cheaper'| translate }}</option>
              <option value="more-expensive">{{ 'more.expensive'| translate }}</option>
            </select>
          </div>
        </div>
        <div class="view-options__control">
          <label for="view-options-limit">{{ 'show'| translate }}</label>
          <div>
            <select
              (change)="filter()"
              class="form-control form-control-sm" id="view-options-limit" formControlName="limit">
              <option value="12">12</option>
              <option value="24">24</option>
              <option value="36">36</option>
              <option value="48">48</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="products-view__list products-list" [attr.data-layout]="layout !== 'list' ? grid : layout"
         [attr.data-with-features]="layout === 'grid-with-features' ? 'true' : 'false'">
      <div class="products-list__body">
        <div *ngFor="let product of products.data" class="products-list__item">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>

    <div class="products-view__pagination">
      <app-pagination
        formControlName="page"
        (pageChange)="filter(true)"
        [siblings]="2"
        [total]="products.pages"
      ></app-pagination>
    </div>
  </div>

  <div class="products-view__empty" *ngIf="!products.data?.length && loaded">
    <div class="products-view__empty-title">{{ 'no.products.found.for.your.search'| translate }}</div>
    <div class="products-view__empty-subtitle">{{ 'clear.the.search.filter.and.try.again'| translate }}</div>
    <button
      (click)="resetFilter()"
      type="button"
      class="btn btn-primary btn-sm"
    >{{ 'reset.filter'| translate }}</button>
  </div>
</div>
