<app-page-header
  [header]="'full.information.about.the.product'"
  [breadcrumbs]="breadcrumbs"
></app-page-header>

<div class="block">
  <div class="container">
    <app-product
      [product]="product"
    ></app-product>

    <app-product-tabs
      [product]="product"
    ></app-product-tabs>
  </div>
</div>

<!--<app-block-products-carousel header="Related Products" [products]="(relatedProducts$|async) || []" [rows]="1"-->
<!--                             layout="grid-5"></app-block-products-carousel>-->
