@keyframes loader-spinner-animation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.loader-spinner {
  box-sizing: border-box;
  content: '';
  display: block;
  border: 3px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, .6);
  animation-name: loader-spinner-animation;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
