<app-page-header [header]="'frequently.asked.questions'" [breadcrumbs]="[
    {label: 'homepage',                        url: '/'},
    {label: 'frequently.asked.questions',  url: ''}
]"></app-page-header>

<div class="block faq">
  <div class="container">
    <div class="faq__section" *ngIf="faqList?.length">
      <div class="faq__section-body">

        <div class="row">
          <div *ngFor="let faq of faqList" class="faq__section-column col-12 col-lg-6 mb-lg-4">
            <div class="typography">
              <h6>{{ faq?.question }}</h6>

              <p>
                {{ faq?.answer }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center p-10" *ngIf="loading">
      <app-loader-spinner
        [size]="48"
      ></app-loader-spinner>
    </div>
  </div>
</div>
